.contentContainer {
  display:flex;
  padding-left:10px;
  height:90vh;
  padding-bottom:20px;
  padding-top:20px; 
}

.languageContainer {
  padding-right: 5%;
  width:30%;
  overflow-y: scroll;
}

.textContainer {
  margin-left:10%;
}

.loading {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #c1daee;
  text-align: center;
  margin: 0px;
}

.logoImg {
  height:40px;
  float: left;
  padding-left:20px;
}

mat-card {
  height:100%;
  overflow-y: scroll;
  padding-bottom:10px;
}

mat-toolbar {
  background-color: #c1daee
}

.textBox {
  width:100%;
  padding:5px;
}

.helpIcon {
  position: absolute;
  bottom: 60px;
  right: 50px;
  color:#c1daee;
  font-size: 30px;
}

.helpIcon:hover{
  cursor: pointer;
}

.popoverContainer {
  display:block;
}


.popover {
        background: #333;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 4px;
}

.surveyButton {
        background-color: #c1daee;
        border: none;
        color: rgb(8, 54, 71);
        height:50px;
        padding:10px;
        /*padding: 20px 60px;*/
        text-align: left;
        text-decoration: none;
        position: absolute;
        /*display: inline-block;*/
        font-size: 20px;
        cursor: pointer;
        right: 80px;
}

.surveyButton:hover{
  color: white;
}


#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}


.popover[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.popover[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.popover[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.popover[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

