<div class="page">
  
  <!-- Top bar -->
  <mat-toolbar>
    <span>CALL-me MT</span>
  </mat-toolbar>
  

  <div class="contentContainer">

    <div class="languageContainer">
      <ng-material-multilevel-menu [configuration]='config' [items]='appitems'></ng-material-multilevel-menu>
      <div> {{deeplPercentageLeft}} % of Deepl credit left </div>
    </div>
    
    <!--<mat-spinner></mat-spinner>-->

    <div class="textContainer" (mouseup)="getSelectedText()">
      <!--Text-->    
      <mat-card>
        <p class="textBox" *ngFor="let paragraph of textParagraphs"> {{paragraph}} </p>
      </mat-card>

      <!-- Translation popover -->
      <div class="popoverContainer" [style.display]="popoverVisibility">
        <div class="popover"> {{translatedText}} </div>
        <!--<div id="arrow" data-popper-arrow></div>-->
      </div>
      
    </div>
      
  </div>

  <!-- Footer -->
  <mat-toolbar>
  </mat-toolbar>
  
</div>
