<mat-sidenav-container fullscreen>

    <!-- Top bar -->
    <mat-toolbar>
      <span>CALL-me MT</span>
    </mat-toolbar>
    
    <!-- Container for side menu and text content -->
    <div class="contentContainer">

      <!-- Side Menu -->
      <div class="languageContainer">
        <ng-material-multilevel-menu [configuration]='config' [items]='appitems'></ng-material-multilevel-menu>
        <div> {{deeplPercentageLeft}} % of Deepl credit left </div>
      </div>
      
      <div *ngIf="loadingText" class="loading textContainer"> ... Loading </div>

      <!-- Text Container -->
      <mat-card *ngIf="!loadingText" class="textContainer mat-elevation-z8" (mouseup)="getSelectedText()">

          <p class="textBox" *ngFor="let paragraph of textParagraphs"> {{paragraph}} </p>
        
          <div class="popoverContainer" [style.display]="popoverVisibility">
            <div class="popover"> {{translatedText}} 
              <!--<div id="arrow" data-popper-arrow></div>-->
            </div>
            
          </div>

      </mat-card>
      
      <mat-icon class="helpIcon" (click)="openDialog()">help</mat-icon>
      
      <!--
      <div class="textContainer" (mouseup)="getSelectedText()">
  
        <mat-card class="mat-elevation-z8">
          <p class="textBox" *ngFor="let paragraph of textParagraphs"> {{paragraph}} </p>
          

          <div class="popoverContainer" [style.display]="popoverVisibility">
            <div class="popover"> {{translatedText}} 
              <div id="arrow" data-popper-arrow></div>
            </div>
            
          </div>
        </mat-card>
        
      </div>
            -->
        
    </div>
  

    <!-- Footer -->
    <div class="footer" #footer>
        <img class="logoImg" src="assets/logo_TCD.png"> 
    </div>

</mat-sidenav-container>
