h1 {
  text-align: center;
}

.contentContainer {
  display:flex;
  padding-left:10px;
  height:100%;
}

.languageContainer {
  padding-right: 5%;
}

.textContainer {
  width:50%;
  height:auto;
}

.textBox {
  width:100%;
  height:800px;
  padding:10px;
}

li:hover {
  cursor:pointer;
}

.translateContainer {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left:50px;
  height:500px;
  width:500px;
  border: 2px solid grey;
  border-radius: 5px;
}

.translatedText {
  border-bottom-style: solid;
  height:50%;
}